body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font: normal 75% Arial, Helvetica, sans-serif;
}
/* ---- particles.js container ---- */
#canvas3d {
  position: absolute;

  top: 0;
  left: 0;

  z-index: 9999; /* Ensures it is layered on top of particles */
  pointer-events: auto; /* This prevents canvas from blocking mouse interactions with particles */
}
/* Ensure the canvas container is correctly sized and positioned */
.page {
  position: relative;
  width: 100%;
  height: 100vh; /* Full viewport height */
  display: flex;
  overflow: hidden;
}

h3 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 70px;
  left: 5%;
  top: 1%;
}
h4 {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 70px;
  left: 1%;
  top: -9%;
}
/* Canvas styles */
#canvas3ds {
  position: absolute;
  width: 50vw !important; /* Example width */
  height: 100vh !important; /* Example height */
  top: 50%; /* Center vertically */
  left: 60%; /* Center horizontally */
  transform: translate(-50%, -50%) scale(1.5); /* Center the canvas */
  z-index: 999; /* Ensure it is layered on top of particles */
  pointer-events: auto; /* Allows mouse interactions */
  background-color: transparent; /* Semi-transparent red for visibility */
}

#particles-jss {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
} /* ---- stats.js ---- */
#particles-js1 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */

#particles-js3 {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: rgb(252, 39, 39);
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

h1 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 90px;
  left: 5%;
  top: 10%;
}
p {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 10px;
  left: 5%;
  top: 45%;
  width: 20%;
}

.content {
  position: relative;
  z-index: 2; /* Higher than particles */
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
  color: white; /* Ensure text is visible */
}
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.material-symbols-outlined {
  color: rgb(246, 246, 246);
  z-index: 100000;
  position: relative;
  top: 90%;
  left: 5%%;
  font-weight: 8000px;
  font-family: "Material Symbols Outlined";
  font-weight: bolder;
  font-style: normal;
  font-size: 100px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background: transparent; /* Semi-transparent background to blend with canvas */
  padding: 10px 20px;
  border-radius: 0 0 0 12px; /* Rounded corners at the bottom */
  display: flex;
  gap: 20px;
  z-index: 10000000; /* Ensure it appears on top of the canvas */
}

.nav-link {
  color: #dbd1d1;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
  border-radius: 40px;
}

.nav-link:hover {
  background: rgba(255, 255, 255, 0.2); /* Slight hover effect */
}

.btn {
  display: block;
  margin: 10px 10px;
  padding: 15px 40px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 99999;
  border-radius: 12px;
  height: 5vh;
  left: -28%;
  top: 32%;
  font-size: 25px;
  text-align: center;
}
.btn1 {
  padding: 15px 15px;
}
.an {
  margin: 10px 10px;
  padding: 15px 10px;

  position: relative;
  z-index: 99999;

  height: 5vh;
  left: -28%;
  top: 28%;
  font-size: 25px;
}
.lin {
  margin: 10px 10px;
  padding: 15px 10px;

  position: relative;
  z-index: 99999;

  height: 5vh;
  left: -30%;
  top: 28%;
  font-size: 25px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0a0909;
  left: 0;
  top: 0;
  border-radius: 10px;
  transition: background 0.3s ease-in-out; /* Smooth transition for background */
}

/* Glowing border */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  /* Always visible */
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* Hover simulates click effect */
.btn:hover::after {
  background: transparent; /* Make the background transparent on hover */
}
h6 {
  padding-bottom: 0%;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 70px;
  left: 1%;
  z-index: 9999;
  top: 5600px;
  left: 20%;
  font-size: 120px;
}

:root {
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

.container {
  position: relative;
  top: -70vh; /* Move the cards up, overlaying the particle section */
  width: 90%;
  margin: 0 auto;
  z-index: 2;
  padding: 0 auto;
  padding-bottom: 0;
}
#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#card1 {
  --index: 2;
}
#card2 {
  --index: 3;
}
#card3 {
  --index: 4;
}
#card4 {
  --index: 5;
  margin-bottom: 0%;
  margin: 0%;
  padding: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
  padding-bottom: 0%;
  margin-bottom: 0%;
}

#card1 .card-body {
  background-color: #52b2cf;
}
#card2 .card-body {
  /* background-color: #7EC4CF; */
  background-color: #e5a36f;
}
#card3 .card-body {
  background-color: #9cadce;
}
#card4 .card-body {
  background-color: #d4afb9;
  margin-bottom: 0%;
  margin: 0%;
  padding: 0%;
}

.card-body {
  box-sizing: border-box;
  padding: 0px;
  border-radius: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  height: var(--cardHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

h2 {
  font-size: 2.5em;
}
#particles-js2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 1;
  background-attachment: fixed;
}
#Projects {
  background: black;
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.card:hover .card-body {
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
}
.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.honk-uni {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "MORF" 15, "SHLN" 50;
  font-size: 100px;
  letter-spacing: 7px;
}
/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.email {
  margin: 0;
  padding: 0;
  height: auto;
}
h5 {
  margin: 0;
  padding: 0;
  padding-bottom: 0%;
  top: 50%;
  left: 10%;
  color: white;
  font-size: 30px;
  position: relative;
}
p {
  margin: 0;
  padding: 0;
  padding-bottom: 0%;
  position: relative;
  top: 10%;
  font-size: 20px;
}
